*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

img:not([alt]) {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url("fonts/pt-sans-v11-latin_cyrillic-regular.woff2") format("woff2"), url("fonts/pt-sans-v11-latin_cyrillic-regular.woff") format("woff");
}

.__container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

html,
body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "PT Sans";
  font-weight: normal;
  font-size: 18px;
  line-height: 42px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

a {
  display: inline-block;
  text-decoration: none;
  vertical-align: center;
  color: inherit;
  cursor: pointer;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  margin: 0 auto;
  padding: 0 20px;
}

.header__holder {
  height: 75px;
  max-width: 1200px;
  position: relative;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: cornflowerblue;
}

.header__logo {
  height: 30px;
  width: 50px;
  margin: auto 20px;
  background-color: black;
}

.menu__list {
  position: relative;
  top: 15px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list:last-of-type {
  padding-right: 50px;
}

.menu__item {
  padding: 0 15px;
}

.menu__item:nth-of-type(odd) {
  padding-left: 15px;
  padding-right: 15px;
}

.menu__link {
  text-align: center;
}

.menu__link:hover, .menu__link:focus, .menu__link:active {
  color: red;
}

.main {
  margin-top: 75px;
}

.preview {
  padding-top: 10%;
  padding-bottom: 10%;
  background-image: url(/img/preview_back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  text-align: center;
}

.preview__holder {
  width: 600px;
  margin: 0 auto 0 auto;
}

.preview__title {
  font-size: 36px;
  color: green;
}

.preview__text {
  margin-top: 10px;
  font-style: italic;
  line-height: 28px;
}

.preview__button {
  width: 150px;
  margin-top: 25px;
  border: 1px solid black;
  font-size: 16px;
}

.preview__button:hover, .preview__button:active, .preview__button:focus {
  background-color: orange;
}

.preview__button:last-of-type {
  margin-left: 20px;
  color: green;
}
