.footer {
    position: fixed;
    bottom: 0;

    width: 100%;
    height: 75px;

    z-index: 5;
}

.footer__social-holder {
    position: relative;

    margin: auto 50px;
}

.social {
    &__menu {
        display: flex;
    }

    &__item {
        position: relative;

        width: 50px;
        height: 50px;

        border: 1px solid black;
        background-color: white;
    }

    &__link {
        position: relative;
        width: 50px;
        height: 50px;

        cursor: pointer;
    }
}
