// Шрифты

/* pt-sans-regular - latin_cyrillic */

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'),
         url('fonts/pt-sans-v11-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/pt-sans-v11-latin_cyrillic-regular.woff') format('woff') /* Modern Browsers */
}


// Переменные

$minWidth: 320px;
$maxWidth: 1240px;

$md1: 1200px;
$md2: 992px;
$md3: 768px;
$md4: 600px;

// Шаблоны

// Основная сетка
 
.__container {
    max-width: $maxWidth;
    margin: 0 auto;
    padding: 0 20px;
}

// Глобальные стили

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;

    font-family: "PT Sans";
    font-weight: normal;
    font-size: 18px;
    line-height: 42px;
    letter-spacing: 2px;

    text-transform: uppercase;
}

a {
    display: inline-block;
    
    text-decoration: none;
    vertical-align: center;
    color: inherit;
    
    cursor: pointer;
}