// Шрифты

/* pt-sans-regular - latin_cyrillic */

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: local("PT Sans"), local("PTSans-Regular"), url("fonts/pt-sans-v11-latin_cyrillic-regular.ttf") format("ttf");
}

/* Podkova-regular cyrillic */

@font-face {
    font-family: "Podkova";
    font-style: normal;
    font-weight: 400;
    src: local("Podkiva"), local("Podkova-Regular"), url("/fonts/Podkovaregular.woff2") format("woff2"),
        url("/fonts/Podkovaregular.woff") format("woff");
}

/* Podkova-bold cyrillic */

@font-face {
    font-family: "Podkova";
    font-style: normal;
    font-weight: 700;
    src: local("Podkiva"), local("Podkova-Bold"), url("/fonts/Podkovabold.woff2") format("woff2"),
        url("/fonts/Podkovabold.woff") format("woff");
}

// Переменные

$minWidth: 320px;
$maxWidth: 1240px;

$md1: 1200px;
$md2: 992px;
$md3: 768px;
$md4: 600px;

// Шаблоны

// Основная сетка

.__container {
    max-width: $maxWidth;
    margin: 0 auto;
    padding: 0 20px;
}

// Глобальные стили

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;

    font-family: "PT Sans";
    font-weight: normal;
    font-size: 18px;
    line-height: 42px;
    letter-spacing: 2px;

    text-transform: uppercase;
}

a {
    display: inline-block;

    text-decoration: none;
    vertical-align: center;
    color: inherit;

    cursor: pointer;
}
